<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <!-- Код узла СМЭВ -->
    <add key="NodeId" value="00" />
    <!-- Потребитель -->
    <add key="SenderCode" value="OIV100500" />
    <add key="SenderName" value="ОИВ 1" />
    <!-- Поставщик -->
    <add key="RecipientCode" value="OIV100600" />
    <add key="RecipientName" value="ОИВ 2" />
    <!--Категория взаимодействия-->
    <add key="ExchangeType" value="2" /> <!--Межведомственное взаимодействие ОИВ1-ОИВ2-->
    <!--Целевой сервис-->
    <add key="ServiceMnemonic" value="SERVICE" />
    <add key="ServiceVersion" value="1.00" />
    <!--Код государственной услуги-->
    <add key="ServiceCode" value="1.00" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8733/Service" binding="basicHttpBinding"
          bindingConfiguration="BasicHttpBinding_IService" contract="Service.IService"
          name="BasicHttpBinding_IService" />
    </client>
  </system.serviceModel>
</configuration>