<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <!-- Код узла СМЭВ -->
    <add key="NodeId" value="00" />
    <!-- Потребитель -->
    <add key="SenderCode" value="OIV100500" />
    <add key="SenderName" value="ОИВ 1" />
    <!-- Поставщик -->
    <add key="RecipientCode" value="OIV100600" />
    <add key="RecipientName" value="ОИВ 2" />
    <!--Категория взаимодействия-->
    <!--Межведомственное взаимодействие ОИВ1-ОИВ2-->
    <add key="ExchangeType" value="2" />
    <!--Целевой сервис-->
    <add key="ServiceMnemonic" value="SERVICE" />
    <add key="ServiceVersion" value="1.00" />
    <!--Код государственной услуги-->
    <add key="ServiceCode" value="1" />
  </appSettings>
 
  <system.serviceModel>
    <extensions>
      <bindingElementExtensions>
        <!-- Регистация кодировщика сообщений СМЭВ -->
        <add name="SMEVTextMessageEncoder" type="CryptoPro.Sharpei.ServiceModel.SMEVMessageEncodingElement, CryptoPro.Sharpei.ServiceModel, Version=1.4.0.1, Culture=neutral, PublicKeyToken=473b8c5086e795f5"/>
      </bindingElementExtensions>
    </extensions>
    <bindings>
      <customBinding>
        <binding name="customSmevBinding">
          <security defaultAlgorithmSuite="BasicGostObsolete"
                    allowSerializedSigningTokenOnReply="true"
                    authenticationMode="MutualCertificateDuplex"
                    includeTimestamp="false"
                    messageProtectionOrder="SignBeforeEncrypt"
                    messageSecurityVersion="WSSecurity10WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10">
            <localClientSettings detectReplays="false"/>
            <localServiceSettings detectReplays="false"/>
          </security>
          <SMEVTextMessageEncoder />
          <httpTransport/>
        </binding>
      </customBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="clientBehavior">
          <clientCredentials>
            <clientCertificate findValue="12 b8 a7 a7 30 51 ab 00 a1 f4 c4 ed 8f aa 14 d4 5d bd bb 46"
                               x509FindType="FindByThumbprint" 
                               storeLocation="CurrentUser"
                               storeName="My"/>
            <serviceCertificate>
              <defaultCertificate findValue="3f 4d d0 23 a6 57 dc a6 07 57 89 a0 b3 ea 20 90 e7 02 7d f5"
                                  x509FindType="FindByThumbprint"
                                  storeLocation="LocalMachine"
                                  storeName="My"/>
              <authentication certificateValidationMode="ChainTrust" revocationMode="Offline"/>
            </serviceCertificate>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <client>
      <endpoint address="http://localhost.fiddler:8733/Service" behaviorConfiguration="clientBehavior" binding="customBinding"
        bindingConfiguration="customSmevBinding" contract="Service.SmevBindingExtSevice">
        <identity>
          <dns value="SmevBindingExtSevice" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>